{% extends 'menu.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
 {{ parent() }}
    {% if app.user != null %}
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <br>
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
            <li><a href="/administration">Administration</a></li>
        </ol>
    </div>
    {{ form_start(form) }}
        <div class="form_group">
            <div >
                {{ form_widget(form) }}
            </div>
        </div>
        <input type="submit" class="btn" value="Enregistrer" />
        {{ form_end(form) }}
    {% endif %}
    </div>

    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
