{#  L'échappement de données (output escaping) est automatique avec Symfony / Twig
    Il n'est pas nécessaire d'écrite  {{ value|escape }}
    http://symfony.com/doc/current/templating.html#output-escaping
#}
{% extends 'menu.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <H1> MDR<H1>
    <p data-placement="top" data-toggle="tooltip" title="Supprimer"><button  onclick="location.href='/supprimer/evenement/';" class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="delete" ><span class="glyphicon glyphicon-trash"></span></button></p>
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}                         
{% endblock %}