{% extends 'menu.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    {% if app.user != null %}
        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
            <br>
                <div class="row">
                    <ol class="breadcrumb">
                        <li><a href="/"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
                        <li><a href="/visualisation/performance/cds">Visualisation Performances</a></li>
                        <li><a href="/visualisation/performance/cds/date">Filtrer Par Date</a></li>
                    </ol>
                </div>
            <div class="row">

                <div class="panel panel-default">
                    <div class="panel-heading">Choisir  les dates à filtrer</div>
                        <div class="panel-body">
                            {{ form_start(form) }}
                            <div class="form_group">
                                <div >
                                    {{ form_widget(form) }}
                                </div>
                            </div>
                            <input type="submit" class="btn" value="Filtrer" />
                            {{ form_end(form) }}
                        </div>
                </div>
            </div>
        </div>
    {% endif %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% endblock %}