{#  L'échappement de données (output escaping) est automatique avec Symfony / Twig 
    Il n'est pas nécessaire d'écrite  {{ value|escape }} 
    http://symfony.com/doc/current/templating.html#output-escaping
#}
{% extends 'menu.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}

	{% if app.user != null %}
        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
            <br>
            <div class="row">
                <ol class="breadcrumb">
                    <li><a href="/"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
                    <li><a href="/">Accueil</a></li>
                 </ol>
            </div>
        <br>

        <div class="row">
            <a href="/evenement/nouveau"> <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>Ajouter un évènement</button></a>
            <a href="/download/evenement"> <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-download-alt"></span>Exporter les évènements</button></a>
            <a href="/visualisation/performance" > <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-list-alt"></span> Visualiser vos performances</button></a>
            <a href="/performance/selection"> <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>Remonter une performance</button></a>
        </div>

             {% if allAbsence == null %}
                <p> Aucun évènement de prévu </p>
            {% endif %}
            {% if allAbsence != null %}
                <br>

                <div class="row">
                    <div>
                     <div class="panel panel-default">
                        <div class="panel-heading">Mes évènements</div>
                        <div class="table-responsive">
                            <table class="table" data-toggle="table"   data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                                <thead>
                                <tr>
                                    <th data-field="name" data-checkbox="true">Nom</th>
                                    <th data-field="data-date-format" data-sortable="true">Date de début</th>
                                    <th data-field="data-date-format"  data-sortable="true">Date de fin</th>
                                    <th data-field="name"  data-sortable="true"></th>
                                </tr>
                                {% for absence in allAbsence  %}
                                {% if absence.absDatefin > date() %}
                                    <tr>
                                        <td>{{ absence.absNom }}</td>
                                        <td>{{ absence.absDatedebut|date("d/m/Y") }}</td>
                                        <td>{{ absence.absDatefin|date("d/m/Y") }}</td>
                                        <td><p data-placement="top" data-toggle="tooltip" title="Modifier"><button  onclick="location.href='/evenement/{{ absence.absId }}';" class="btn btn-warning btn-xs" data-title="Edit" data-toggle="modal" data-target="Edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                                        <td><p data-placement="top" data-toggle="tooltip" title="Supprimer"><button  onclick="location.href='/supprimer/evenement/{{ absence.absId }}';" class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
                                    </tr>
                                {% endif %}
                                {% endfor %}
                                </thead>
                            </table>
                        </div>
                     </div>
                    </div>
                </div><!--/.row-->

            {% endif %}
        </div>

	{% endif %}
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
{% endblock %}