{% extends 'menu.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="/"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
                <li class="active">test</li>
            </ol>
        </div >
        <div class="row">

                <div class="panel panel-default">
                    <div class="panel-body">
                        HELLO WORLD
                        <div class="form_group">
                            <div >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div >

{% block javascripts %}
            {{ parent() }}
        {% endblock %}
{% endblock %}

