{% extends 'menu.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> #}
{% endblock %}

{% block body %}
 {{ parent() }}
    {% if app.user != null %}
        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
            <br>
            <div class="row">
                <ol class="breadcrumb">
                    <li><a href="/"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
                    <li><a href="/visualisation/performance">Mes Performances</a></li>
                </ol>
             </div>

            {# <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Mes performances</h1>
                </div>
            </div><!--/.row-->#}

            <br/>
            <div class="row">
                <a href="/performance/selection"> <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>Créer une performance</button></a>
                <a href="/telechargement/performances"> <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-download-alt"></span>Exporter les performances</button></a>
            </div>


            {% if allPerf == null %}
                <p> Aucune performance renseignée</p>
            {% endif %}
            {% if allPerf != null %}
                <br>
                <div class="row">
                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading">Mes performances</div>
                            <div class="table-responsive">
                                <table class="table" data-toggle="table"   data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                                    <thead>
                                        <tr>
                                            <th>Compétition</th>
                                            <th>Localisation</th>
                                            <th>Sport</th>
                                            <th>Épreuve</th>
                                            <th>Catégorie</th>
                                            <th>Objectif</th>
                                            <th>Date de début</th>
                                            <th>Date de fin</th>
                                            <th>Lieu</th>
                                            <th>Résultat</th>
                                            <th>Ressenti</th>
                                            <th></th>
                                         </tr>
                                        {% for performance in allPerf %}
                                            {% if performance.perFkjointuresport != null %}
                                                <tr>
                                                    <td>{{ performance.perFktypecompetition.typcomNom }}</td>
                                                    <td>{{ performance.perFklocalisationcompetition.loccomNom }}</td>
                                                    <td>{{ performance.perFkjointuresport.joispoFksport.spoNom }}</td>
                                                    <td>{{ performance.perFkjointuresport.joispoFkepreuve.eprNom }}</td>
                                                    <td>{{ performance.perFkjointuresport.joispoFkcategorie.catNom }}</td>
                                                    <td>{% if performance.perImportance == 1 %}
                                                            {{ "Saison" }}
                                                        {% else %}
                                                            {{ "Intermédiaire" }}
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ performance.perDatedebut|date("d/m/Y") }}</td>
                                                    <td>{{ performance.perDatefin|date("d/m/Y") }}</td>
                                                    <td>{{ performance.perLieu }}</td>
                                                    <td>
                                                    {% if performance.perFkresultat == null %}
                                                        {{ "Non renseigné" }}
                                                    {% else %}
                                                        {{ performance.perFkresultat.resNom }}
                                                    {% endif %}</td>
                                                    <td>{{ performance.perRessenti }}</td>
                                                    <td><p data-placement="top" data-toggle="tooltip" title="Modifier"><button  onclick="location.href='/performance/modifier/{{ performance.perId }}';" class="btn btn-warning btn-xs" data-title="Edit" data-toggle="modal" data-target="Edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>

                                                    <td><p data-placement="top" data-toggle="tooltip" title="Dupliquer"><button  onclick="location.href='/performance/dupliquer/{{ performance.perId }}';" class="btn btn-info btn-xs" data-title="Edit" data-toggle="modal" data-target="duplicate" ><span class="glyphicon glyphicon-duplicate"></span></button></p></td>

                                                    <td><p data-placement="top" data-toggle="tooltip" title="Supprimer"><button  onclick="location.href='/supprimer/performance/{{ performance.perId }}';" class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div><!--/.row-->
            {% endif  %}
        </div>
    {% endif %} 
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% endblock %}

