{% extends 'menu.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
{{ parent() }}

    {% if app.user != null %}
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <br>
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="/"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
                <li><a href="/profil">Mon Profil</a></li>
            </ol>
        </div>
        <br>
          <div class="row">

                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title"> Prénom : {{ utilisateur.utiPrenom }} <br> Nom :  {{ utilisateur.utiNom }} </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class=" col-md-9 col-lg-9 ">
                                        <table class="table table-user-information">
                                            <tbody>
                                            <tr>
                                                <td>Département:</td>
                                                <td>{{ utilisateur.utiFkdepartement.depNom }}</td>
                                            </tr>
                                            <tr>
                                                <td>Mail</td>
                                                <td>{{ utilisateur.utiEmail }}</td>
                                            </tr>
                                            <tr>
                                                <td>Sport</td>
                                                <td>{{ utilisateur.utiFksport.spoNom }}</td>
                                            </tr>
                                            </tbody>
                                        </table>

                                        <a href="/profil/modif/sport/{{utilisateur.utiId }}" class="btn btn-primary">Modifier le sport</a>
                                        <a href="/profil/modif/departement/{{utilisateur.utiId }}" class="btn btn-primary">Modifier le département</a>
                                    </div>
                                </div>
                            </div>
                        </div>

          </div>
    {% endif %}
    </div>
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
