{% extends 'menu.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
 {{ parent() }}
    {% if app.user != null %}

        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <br>
            <div class="row">
                <ol class="breadcrumb">
                    <li><a href="/"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
                    <li><a href="/administration">Administration</a></li>
                    <li><a href="/administration/categorie">Gestion des Catégories</a></li>
                </ol>
            </div>


        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">Gestion des Catégories</div>
                <div class="row">
                    <li><a href="/ajout/categorie"> <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Ajouter une categorie</button></a></li>
                </div>

                <div class="table-responsive">
                    <table class="table" data-toggle="table"   data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                        <thead>
                        <tr>
                            <th>Categories</th>
                            <th>Sport</th>
                            <th class="pull-right">Supprimer</th>
                        </tr>
                            {% for categorie in allCategorie%}
                                {% if categorie.joispoFkcategorie != null %}
                                    <tr>
                                        <td>{{ categorie.joispoFkcategorie.catNom }}</td>
                                        <td>{{ categorie.joispoFksport.spoNom}}</td>
                                        <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button  onclick="location.href='/supprimer/categorie/{{ categorie.joispoFkcategorie.catId }}/{{ categorie.joispoFksport.spoId }}';" class="btn btn-danger btn-xs pull-right" data-title="Delete" data-toggle="modal" data-target="delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td> 
                                        <br>
                                    </tr>
                                {% endif %}
                        {% endfor %}
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
{% endblock %}    