{% extends 'menu.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
 {{ parent() }}
    {% if app.user != null %}

        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

            <div class="row">
                <ol class="breadcrumb">
                    <li><a href="/"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
                    <li class="active">Administration</li><a href="/ajout/typecompetition"><svg class="glyph stroked plus sign" ><use xlink:href="#stroked-plus-sign"></use></svg> Ajouter un nouveau type de Compétition </a>
                </ol>
            </div>


        <div class="row">
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading">Gestion des Types de compétitions</div>
                    <div class="row">
                        <nav class="navbar navbar-left nav-wrapper" role="navigation" style="background-color: #5DBCD2">
                            <div class="container-fluid">
                                <div class="collapse navbar-collapse">
                                    <ul class="user-menu">
                                        <li><a href="/ajout/typecompetition"><svg class="glyph stroked plus sign" ><use xlink:href="#stroked-plus-sign"></use></svg> Ajouter un nouveau type de Compétition </a></li>
                                    </ul>
                                </div>
                        </nav>
                    </div>

                    <div class="table-responsive">
                        <table class="table" data-toggle="table" >
                            <thead>
                            <tr>
                                <th>Type compétition</th>
                               <th class="pull-right">Supprimer</th>
                            <tr>
                                {% for typecompetition in allTypecompetition %}
                            <tr>
                                <td>{{ typecompetition.typcomNom }} </td>
                                <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button  onclick="location.href='/supprimer/typecompetition/{{ typecompetition.typcomId }}';" class="btn btn-danger btn-xs pull-right" data-title="Delete" data-toggle="modal" data-target="delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
                            </tr>
                                {% endfor %}
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Gestion de l'échelle des compétitions</div>
                    <div class="row">
                        <nav class="navbar navbar-left nav-wrapper" role="navigation" style="background-color: #5DBCD2">
                            <div class="container-fluid">
                                <div class="collapse navbar-collapse">
                                    <ul class="user-menu">
                                        <li><a href="/ajout/echellecompetition"><svg class="glyph stroked plus sign"><use xlink:href="#stroked-plus-sign"></use></svg> Ajouter une  Echelle de compétition </a></li>
                                    </ul>
                                </div>
                        </nav>
                    </div>

                    <div class="table-responsive">
                        <table class="table" data-toggle="table"   data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                            <thead>
                            <tr>
                                <th>Echelles compétitions</th>
                                <th class="pull-right">Supprimer</th>
                            </tr>

                            
                            {% for echellecompetition in allEchellecompetition %}
                                <tr>
                                    <td>{{ echellecompetition.echcomNom }} </td>
                                    <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button  onclick="location.href='/supprimer/echellecompetition/{{ echellecompetition.echcomId }}';" class="btn btn-danger btn-xs pull-right" data-title="Delete" data-toggle="modal" data-target="delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
                                </tr>
                            {% endfor %}
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading">Gestion des Epreuves</div>
                            <div class="row">
                                <nav class="navbar navbar-left navbar-toggler" role="navigation" style="background-color: #5DBCD2">
                                    <div class="container-fluid">
                                        <div class="navbar-header">
                                            <ul class="user-menu">
                                                <li><a href="/ajout/epreuve"><svg class="glyph stroked plus sign"><use xlink:href="#stroked-plus-sign"></use></svg> Ajouter une épreuve </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                            <div class="table-responsive">
                                <table class="table" data-toggle="table"   data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                                    <thead>
                                    <tr>
                                        <th>Epreuves</th>
                                        <th>Sports</th>
                                        <th class="pull-right">Supprimer</th>
                                    </tr>
                                    
                                    {% for epreuve in allEpreuve %}
                                        <tr>
                                            {% if epreuve.joispoFkepreuve != null %}
                                                <td>{{ epreuve.joispoFkepreuve.eprNom }}</td> 
                                                <td>{{ epreuve.joispoFksport.spoNom}}</td>
                                                <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button  onclick="location.href='/supprimer/epreuve/{{ epreuve.joispoFkepreuve.eprId }}/{{ epreuve.joispoFksport.spoId }}';" class="btn btn-danger btn-xs pull-right" data-title="Delete" data-toggle="modal" data-target="delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">Gestion des Catégories</div>
                            <div class="row">
                                <nav class="navbar navbar-left navbar-toggler" role="navigation" style="background-color: #5DBCD2">
                                    <div class="container-fluid">
                                        <div class="navbar-header">
                                            <ul class="user-menu">
                                                <li><a href="/ajout/categorie"><svg class="glyph stroked plus sign"><use xlink:href="#stroked-plus-sign"></use></svg> Ajouter une categorie </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                            </div>

                            <div class="table-responsive">
                                <table class="table" data-toggle="table"   data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                                    <thead>
                                    <tr>
                                        <th>Categories</th>
                                        <th>Sport</th>
                                        <th class="pull-right">Supprimer</th>
                                    </tr>
                                        {% for categorie in allCategorie%}
                                            {% if categorie.joispoFkcategorie != null %}
                                                <tr>
                                                    <td>{{ categorie.joispoFkcategorie.catNom }}</td>
                                                    <td>{{ categorie.joispoFksport.spoNom}}</td>
                                                    <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button  onclick="location.href='/supprimer/categorie/{{ categorie.joispoFkcategorie.catId }}/{{ categorie.joispoFksport.spoId }}';" class="btn btn-danger btn-xs pull-right" data-title="Delete" data-toggle="modal" data-target="delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td> 
                                                    <br>
                                                </tr>
                                            {% endif %}
                                    {% endfor %}
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>




                <div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Gestion des Sports</div>
                        <div class="row">
                            <nav class="navbar navbar-left navbar-toggler" role="navigation" style="background-color: #5DBCD2">
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        <ul class="user-menu">
                                            <li><a href="/ajout/sport"><svg class="glyph stroked plus sign"><use xlink:href="#stroked-plus-sign"></use></svg> Ajouter un sport </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                        <div class="table-responsive">
                            <table class="table" data-toggle="table"   data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                                <thead>
                                <tr>
                                    <th>Sports </th>
                                    <th class="pull-right">Supprimer</th>
                                <tr>
                                    {% for sport in allSport %}
                                    <td>{{ sport.spoNom }}</td>
                                    <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button  onclick="location.href='/supprimer/sport/{{ sport.spoId }}';" class="btn btn-danger btn-xs pull-right" data-title="Delete" data-toggle="modal" data-target="delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
                                </tr>
                                {% endfor %}
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="panel panel-default">
                    <div class="panel-heading">Gestion du niveau de liste ministerielle</div>
                        <div class="row">
                            <nav class="navbar navbar-left navbar-toggler" role="navigation" style="background-color: #5DBCD2">
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        <ul class="user-menu">
                                            <li><a href="/ajout/niveauliste"><svg class="glyph stroked plus sign"><use xlink:href="#stroked-plus-sign"></use></svg> Ajouter un niveau de liste ministerrielle </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>

                        <div class="table-responsive">
                            <table class="table" data-toggle="table"   data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                                <thead>
                                <tr>
                                    <th>Listes Ministrielles</th>
                                    <th class="pull-right">Supprimer</th>
                                <tr>
                                    {% for niveaulisteministerielle in allNiveaulisteministerielle %}
                                        <td>{{ niveaulisteministerielle.nivlisminNom }} </td>
                                        <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button  onclick="location.href='/supprimer/niveauliste/{{ niveaulisteministerielle.nivlisminId }}';" class="btn btn-danger btn-xs pull-right" data-title="Delete" data-toggle="modal" data-target="delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
                                </tr>
                                    {% endfor %}
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% block javascripts %}
        <script type="text/javascript">
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip();
                var actions = $("table td:last-child").html();

                // Delete row on delete button click
                $(document).on("click", ".delete", function(){
                    $(this).parents("tr").remove();
                    $(".add-new").removeAttr("disabled");
                });
            });
        </script>
    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}

{% endblock %}